.footer_area{	
background:$naranja-bajo;
}
.single_footer_container{
	border-left:10px solid white;
	border-right:10px solid white;
	position:relative;
	width:86%;
	margin:auto;
	background:$naranja-fuerte;
}
.social_area{
	img{
		width: 60%;
	}
}